body {
  margin: 0;
  font-family:monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: gray;
  color: white;
}

li {
  padding: 20px;
  list-style-type: none;
  border-radius: 20px;
  margin: 20px auto;
  width:400px;  
  background-color: darkgray;
}

a {
  font-weight: bold;
}

button {
  border-radius: 5px;
}